<%- include("./partials/header") %>


<div class="container">
        <div class="icon">
            <img src="https://openweathermap.org/img/wn/<%=icon%>@2x.png" alt="weather icon">
        </div>
        <div class="weatherData">
            <p>
                <%= main %>
            </p>
            <p>
                <%= temp %> &deg;C
            </p>
        </div>
    </div>


    <%- include("./partials/footer") %>